<!-- dashboard.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SAMS:STUDENT-DASHBOARD</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/dashboard.css" />
</head>

<body>
  <nav>
    <h3><a href="/Admin/Dashboard">SAMS</a></h3>

  </nav>

  <div class="dashboardCont">
    <div class="card" onclick="location.href='/Admin/marks/?id={{studentId}}'">
      <div class="card-details">
        <p class="text-title">MARKS</p>
      </div>
    </div>
    <div class="card" onclick="location.href='/Admin/projects/?id={{studentId}}'">
      <div class="card-details">
        <p class="text-title">PROJECTS</p>
      </div>
    </div>
    <div class="card" onclick="location.href='/Admin/achievement/?id={{studentId}}'">
      <div class="card-details">
        <p class="text-title">ACHIEVEMENTS</p>
      </div>
    </div>
    <div class="card" onclick="location.href='/Admin/internship/?id={{studentId}}'">
      <div class="card-details">
        <p class="text-title">INTERNSHIP</p>
      </div>
    </div>
    <div class="card" onclick="location.href='/Admin/awards/?id={{studentId}}'">
      <div class="card-details">
        <p class="text-title">Awards</p>
      </div>
    </div>
    <div class="card">
      <div class="card-details" onclick="location.href='/Admin/EXTRA_CURRICULAR_ACTIVITIES/?id={{studentId}}'">
        <p class="text-title">EXTRA CURRICULAR ACTIVITIES</p>
      </div>
    </div>
  </div>
  <footer>
    <div>© 2021 - Made with &hearts; by Mausooq & Nafih</div>
    <a href="/adminAuth/logout">Logout</a>
  </footer>
  </script>
</body>

</html>